# OSX
.DS_Store
._*
.Spotlight-V100
.Trashes

# python
*.log
*.pot
*.py[co]
pip-log.txt

# sublimetext project files
/*.sublime-project

# textmate
*.tmproj
*.tmproject
tmtags

# ruby / rails
*.rbc
*.sassc
.sass-cache
/.bundle
.rspec