[user]
	name = Justin Morris
	email = justin@pixelbloom.com
[color]
	diff = auto
	status = auto
	branch = auto
[core]
	excludesfile = /Users/justin/.gitignore
	quotepath = false
[github]
	user = plasticine
[difftool "Kaleidoscope"]
	cmd = ksdiff --partial-changeset --relative-path \"$MERGED\" -- \"$LOCAL\" \"$REMOTE\"
[difftool]
	prompt = false
[diff]
	tool = Kaleidoscope
[mergetool "Kaleidoscope"]
	cmd = ksdiff --merge --output \"$MERGED\" --base \"$BASE\" -- \"$LOCAL\" --snapshot \"$REMOTE\" --snapshot
	trustExitCode = true
[mergetool]
	prompt = false
[merge]
	tool = Kaleidoscope
[heroku]
	account = personal
[push]
	default = upstream
